@model IEnumerable<Restaurant_Reservation_Client.Models.SeatsViewModel>
@{
    ViewData["Title"] = "訂位首頁";
}

<h1 class="text-center fw-bold text-primary">~今日用餐時段~</h1>

<div class="container text-center m-3">
    <div class="row justify-content-md-center">
            @foreach (var item in Model)
            {
                <div class="col-3 m-1 p-3 border border-info rounded">
                    <h3 class="fw-bold font-monospace">@Html.DisplayFor(modelItem => item.Period)</h3>
                    <p class="fs-5">目前空位 : </p>
                    @if (Convert.ToInt32((DateTime.Parse(item.Period[0..5]) - DateTime.Now).TotalHours) > -11)
                    {
                        @if (item.RemainSeats <= 5)
                        {
                            <h2 class="text-danger fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                        else if (item.RemainSeats <= 10)
                        {
                            <h2 class="text-warning fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                        else
                        {
                            <h2 class="text-success fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                    }
                    else
                    {
                        <p class="fs-5 text-primary">這個時段現在不開放訂位~</p>
                    } 
                </div>
            }
    </div>        
</div>

<p class="text-center">
    <a asp-action="MakeRes" class="btn btn-info fw-bold">我要訂位</a>
</p>

<p class="text-center">
    <a asp-action="Search" class="btn btn-warning fw-bold">訂位修改/刪除</a>
</p>