@model IEnumerable<Restaurant_Reservation_Client.Models.SeatsViewModel>
@{
    ViewData["Title"] = "訂位首頁";
}

<h1 class="text-center fw-bold text-primary">~今日用餐時段~</h1>

<div class="container text-center m-3">
    <div class="row justify-content-md-center">
            @foreach (var item in Model)
            {
                <div class="col-3 m-1 p-3 border border-info rounded">
                    <h3 class="fw-bold font-monospace">@Html.DisplayFor(modelItem => item.Period)</h3>
                    <p class="fs-5">目前空位 : </p>
                    @if (Convert.ToInt32((DateTime.Parse(item.Period[0..5]) - DateTime.Now).TotalHours) > 1)
                    {
                        @if (item.RemainSeats <= 5 && item.RemainSeats >= 1)
                        {
                            <h2 class="text-danger fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                        else if (item.RemainSeats <= 10 && item.RemainSeats > 5)
                        {
                            <h2 class="text-warning fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                        else if (item.RemainSeats <= 45 && item.RemainSeats > 10)
                        {
                            <h2 class="text-success fw-bold font-monospace">@Html.DisplayFor(modelItem => item.RemainSeats)</h2>
                        }
                        else
                        {
                            <p class="fs-5 text-primary">這個時段現在不開放訂位~</p>
                        }
                    }
                    else
                    {
                        <p class="fs-5 text-primary">這個時段現在不開放訂位~</p>
                    }
                </div>
            }
    </div>        
</div>

<p class="text-center">
    <a asp-controller="Reservation" asp-action="MakeRes" class="btn btn-info fw-bold" data-bs-toggle="modal" data-bs-target="#dateSelectModal">我要訂位</a>
    <div class="modal fade" id="dateSelectModal" tabindex="-1" aria-labelledby="dateSelectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dateSelectModalLabel">請選擇訂位日期</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>請選擇訂位日期</h2>
                        <form asp-action="MakeRes">
                            <input type="date" />
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-promary">按我接著完成訂位</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</p>

<p class="text-center">
    <a asp-action="Search" class="btn btn-warning fw-bold">訂位修改/刪除</a>
</p>