@{
    ViewData["Title"] = "訂位查詢";
}
<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <label>請輸入連絡電話/手機號碼:</label><br>
                <input type="text"><br><br>
                <input type="submit" class="btn btn-primary" value="查詢">
            </form>
        </div>
    </div>
</div>